
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #DAC3E8;

  }
  
  .question {
    background-color:white;
   
  }
  .btn{
    background-color:#7251B5;
    color : #DAC3E8;
   
}


.next-prev{
  width: 100px;
}
  
  