<form>
  <div>
    <h1>Your Score : {{ score }}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="card col-6" style="width: 44rem" *ngFor="let item of puzzle?.slice(index - 1, index)">
        <div class="card-body">
          <br />

          <div>
            <h2>{{ item.puzzle_name }}</h2>
          </div>
          <div class="question">
            <h3 class="card-title">{{ item.puzzle_question }}</h3>
          </div>

          <br />
          <h4>Answer:</h4>
          <input type="text" name="puzzle_answer" class="form-control col-xs-2" (input)="OnInput($event)" /><br /><br />

          <button (click)="checkAns(item.puzzle_id)" class="btn btn-sm mx-auto d-block" [disabled]="item.isDisabled">
            Check Answer & Explaination
          </button>

          <div id="{{ item.puzzle_id }}"></div>
          <div *ngIf="item.isDisabled" #op1>
            <h1>Answer : {{ item.puzzle_answer }}</h1>
            <h4>Explaination : {{ item.puzzle_explanation }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center ">
    <input type="button" (click)="pre()" value="Previous" class="btn m-2 next-prev" />
    <input type="button" (click)="next()" value="Next" class="btn m-2 next-prev" />
  </div>

  <input type="button" class="btn btn-lg mx-auto d-block m-2" value="Submit" (click)="post()" />
</form>