<mat-tab-group mat-align-tabs="start" class="m-4">
  <mat-tab label="Quiz Analysis">
    <div style="display: block; width: 80%">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="chartColors"
      >
      </canvas>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Quizzes">
  list of Quizzes
</mat-tab> -->
  <mat-tab label="Add Quiz">
    <div class="text-center">
      <!-- <button type="button" class="btn btn-dark">Add Quiz Category</button> -->
      <!-- <button class="btn" (click)="addQuizClick()">Add Quiz</button> -->
    </div>
    <!-- <app-quiz-add *ngIf="addQuizClicked"></app-quiz-add> -->
    <app-quiz-add></app-quiz-add>
  </mat-tab>
</mat-tab-group>
<!-- <router-outlet name="quiz"></router-outlet> -->
