:host {
  // color: gray;
  font-family: monospace;
  margin-left: 4px;

  button {
    // background-color: white;
    // border: 1px solid lightgrey;
    // color: gray;
    display: block;
    margin-bottom: 4px;
    // width: 100%;
  }
}
